<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card post-card mb-4">
      <div class="card_image rounded-top" style="background-image: url(https://img.freepik.com/free-vector/follow-me-social-business-theme-design_24877-50426.jpg?w=1380&t=st=1662123477~exp=1662124077~hmac=b3b94c755f304c3d156cc68ae6dcd352fdce211d25bccf4bc2d8de89b47f5ebb)"></div>
      <div class="card-body rounded-bottom pt-3 d-flex flex-column">
        <div class="d-flex justify-content-between">
        </div>
        <%= link_to "Invite User", new_user_invitation_path , class: "btn btn-danger mt-auto text-white" %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card post-card mb-4">
      <div class="card_image rounded-top" style="background-image: url(https://img.freepik.com/free-vector/online-question-answers-search_102902-2342.jpg?w=1800&t=st=1662124312~exp=1662124912~hmac=83b08d2fc6d642aaf4bdb8e76171b170deaed7a135380a9df06bdd082c6df683)"></div>
      <div class="card-body rounded-bottom pt-3 d-flex flex-column">
        <div class="d-flex justify-content-between">
        </div>
        <%= link_to "Candidate Requests", candidate_requests_path , class: "btn btn-success mt-auto text-white" %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card post-card mb-4">
      <div class="card_image rounded-top" style="background-image: url(https://img.freepik.com/premium-photo/girl-with-megaphone-jumping-shouting_8087-2707.jpg?w=1800)"></div>
      <div class="card-body rounded-bottom pt-3 d-flex flex-column">
        <div class="d-flex justify-content-between">
        </div>
        <%= link_to "Show Voters", display_voters_path(current_user.id) , class: "btn btn-warning mt-auto text-white" %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card post-card mb-4">
      <div class="card_image rounded-top" style="background-image: url(https://img.freepik.com/free-photo/group-asia-young-creative-people-smart-casual-wear-discussing-business-brainstorming_7861-3066.jpg?w=2000&t=st=1662125599~exp=1662126199~hmac=7545d892b495d72679ac6172159935f762eb698e1fc5033b853da1ea91dd2cd5)"></div>
      <div class="card-body rounded-bottom pt-3 d-flex flex-column">
        <div class="d-flex justify-content-between">
        </div>
        <%= link_to "Create Poll", new_poll_path , class: "btn btn-primary mt-auto text-white" %>
      </div>
    </div>
  </div>


</div>








