<p class="lead">
   Search By Constituency
</p>

<%= render partial: 'polls/search_form' %>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Constituency ID</th>
      <th scope="col">Winning Candidate ID</th>
      <th scope="col">Winner Name</th>
      <th scope="col">Vote Count</th>
    </tr>
  </thead>
  <tbody>
      <%= find_result(cons) %>
  </tbody>
</table>



