// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h-one{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  text-align: center;
  color: gray;
  text-decoration:underline;
}
.card_image{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
